<div class="center">
  <h1>Login</h1>
  <form id="loginForm">
    <label>Email</label>
    <input name="email" />
    <label>Contraseña</label>
    <input name="password" type="password"/>
    <input style="margin-bottom: 1rem;" class="submitBtn" type="submit" />
  </form>
  <div class="wide-container">
    <p>¿No estás registrado? <a href="/api/views/register">Regístrate aquí</a></p>
  </div>
</div>

<script src="/js/login.js"></script>